{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Your Cart</h1>

    <ul>
        {% for productId, quantity in cart %}
            <li>Product ID: {{ productId }} - Quantity: {{ quantity }}</li>
        {% endfor %}
    </ul>
{% endblock %}
