<!DOCTYPE html>

<title>Edit Progression</title>

{% block body %}
    <h1>Edit Progression</h1>

    {{ include('progression/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_progression_index') }}">back to list</a>

    {{ include('progression/_delete_form.html.twig') }}
{% endblock %}
