<!DOCTYPE html>

<title>New Defi</title>

{% block body %}
    <h1>Create new Defi</h1>

    {{ include('defi/_form.html.twig') }}

    <a href="{{ path('app_defi_index') }}">back to list</a>
{% endblock %}
